.images .slide {
  width: 20%;
  transition: 0.5s;
}
.buttons a {
  height: 8px;
  width: 30px;
  border: 2px solid #fff;
  margin: 0 5px;
  border-radius: 10px;
}
a.active {
  transition: 0.5s;
  transform: scale(0.999);
  background-color: #fff;
  animation: animate 0.4s;
}
@keyframes animate {
  100% {
    transform: scale(0.8);
  }
}