body {
  margin: 0;
  padding: 0;
  background-color: #364b63;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 800px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.images {
  height: 100%;
  width: 500%;
  display: flex;
}
.images img {
  width: 100%;
  height: 100%;
}
.images .slide{
    width: 20%;
    transition: 0.5s;
}
.buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.buttons a {
  height: 8px;
  width: 30px;
  border: 2px solid #fff;
  margin: 0 5px;
  border-radius: 10px;
}
a.active{
    transition: 0.5s;
    transform: scale(0.999);
    background-color: #fff;
    animation: animate 0.4s;
}
@keyframes animate {
   100%{
    transform: scale(0.8);
   } 
   
}